* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[w] {
    max-width: 650px;
    width: 100%;
}

.c {
    box-shadow: 0 6px 23px 0 rgb(0 0 0 / 16%);
}

#input {
    width: 100%;
    height: 48px;
    padding: 8px 24px; 
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
}

#input:focus {
    outline: 1px dashed #000;
}

#box {
    width: 100%;
}

[b] {
    width: 100%;
    padding: 24px;
    margin-top: 0;
    display: flex;
    background-color: #fff;
}

[m] {
    width: 75%;
}

.d {
    width: fit-content;
    padding: 0 12px;
    background-color: #ffd800;
}

.d span {
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
    height: 26px;
    letter-spacing: .075em;
    text-transform: uppercase;
}

[h1] {
    margin-top: 24px;
    margin-bottom: 16px;
    display: block;
    font-weight: 600;
    font-size: 22px;
    color: var(--primary);
    text-decoration: none;
}

[h1]:hover {
    text-decoration: underline;
}

[h1] .mdl2 {
    font-size: 12px;
}

a[l] {
    padding: 12px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    min-height: 44px;
    color: #fff;
    background-color: var(--primary);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%);
    transition: transform .2s ease, box-shadow .2s ease;
}
a[l]:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
a[l]:active {
    transform: scale(.98);
}

[a] {
    color: #333;
    font-size: 48px;
    font-weight: 500;
}

[a] sup {
    font-size: 28px;
}

[c] {
    display: block;
}

.o {
    position: fixed;
    display: flex;
    gap: 22px;
    bottom: 8px;
    right: 16px;
}

.o a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dashed transparent;
}

.o a:hover {
    border-bottom: 1px dashed #000;
}